SECRET_KEY=replace-with-64-char-random-string
DB_HOST=1.2.3.4       # DB EC2 private IP
DB_USER=appuser
DB_PASS=StrongPass123!
DB_NAME=appdb
DB_PORT=3306
S3_BUCKET=<bucket-name>
AWS_REGION=ap-south-1
NODE_TYPE=webserver
